<div class ="posts-new">
  <div class = new-container>
    <h2 class ="form-heading">
      新規投稿
    </h2>
        <div class = "form-body">
          <%=form_with model: @post,url: posts_path,local: true do |f|%>
            
                <div class = "img-upload">
                <div class="weight-bold-text">
                  画像
                </div>  
             </div>
             <div class = "click-upload">
              <p>
                クリックしてファイルをアップロード
              </p>
              <%=f.file_field :images,name: 'post[images][]', id:"post-image",direct_upload: true, multiple: true%>
              <div id = "image-list"></div>
             </div>
            <% @post.images do |image| %>
            <%= image_tag image, class: 'images' %>
          <% end %>
             
            <div class="tag-field", id='tag-field'>
            <div class="weight-bold-text">
              タグ
            </div>
            
              <%= f.text_field :tag_name, class:"input-tag" %>
            </div>
            
              <div class = "post-btn-content">
                <%=f.submit "投稿する",class:"posts-btn"%>
                <%=link_to '戻る',post_path(@post.id),class: "back-btn"%>
              </div>
          <%end%>
        </div>
  </div>
</div>