<header>

  

  <div class="header-container">
    <div class = "header-upper">
    <div class="header-logo">
      <%=link_to "Nostalgia", about_path%>
    </div>
    <div class = "upper-left">
    

    
        <% if user_signed_in? %>
     <li class = "upper-nickname">
     <%=link_to "#{current_user.nickname}",user_path(current_user.id)%>
     </li>
        
     <li>
     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
     </li>
     <% else %>
     
     <li>
     <%= link_to 'ログイン', new_user_session_path %>
     </li>
     <li><%= link_to '新規登録', new_user_registration_path%></li>
      <% end %>
      </div>  
    </div>
    <ul class="header-menus">
    
            <li>
              <%=link_to("Nostalgiaとは？",about_path )%>
            </li>

  <div class="navbar">
    <ul class="nav-lists">
          <li class = "background-red" id = "lists">投稿一覧</li>
          <ul class="show-lists hidden"  id="pull-down">
              <li><%=link_to("投稿一覧(画像)",posts_path)%></li>
              <li><%=link_to("投稿一覧(テキスト)",records_path)%></li>
          </ul>  
    </ul>
  </div>    
          <div class="navbar">
    <ul class="nav-lists">
          <% if user_signed_in? %>
          <li class = "background-red" id = "new-lists">新規投稿</li>
           <ul class="show-lists hidden"  id="new-pull-down">
              <li><%=link_to("新規投稿(画像)",new_post_path)%></li>
              <li><%=link_to("新規投稿(テキスト)",new_record_path)%></li>
           </ul> 
          <%end%>
      </ul> 
      </ul>
  </div> 
  </header>